:root {
    --text-light: #ffffff; /* celkem light text jsme dostali */
    --animSpeed: .25s;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    padding: 1em;
    gap: 1em;
}
.categories__item {
    position: relative;
    color: inherit;
    /* max-height: 80vh; */
}
.categories__item:hover {
    /* box-shadow: 0 0 8px 2px var(--text-light); */
}
.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
}
.categories__item-description {
    padding: 1em;
    color: var(--text-light);
}
/* TODO */


/* Global */
.img-responsive {
    width: 100%;
    display: block;
}
figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}

.categories
{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.categories:not(:has(a:hover)) img, a.categories__item:hover img { filter: blur(0px); }
a.categories__item img { filter: blur(5px); }

a.categories__item
{  
    border-radius: 20px;
    overflow: hidden;

    position: relative;

    transition: scale var(--animSpeed) ease;
}

a.categories__item:hover
{
    scale: 1.05;
    z-index: 10;
}

a.categories__item img
{
    transition: scale var(--animSpeed);
}

a.categories__item:hover img
{
    scale: 1.2;
}

.categories__item-description
{
    position: absolute;

    bottom: 0;
    left: 0;

    transition: bottom var(--animSpeed), left var(--animSpeed), translate var(--animSpeed);

    white-space: nowrap;
}

.categories__item:hover .categories__item-description
{
    left: 50%;
    bottom: 50%;
    translate: -50% 50%;
}

.page-header
{
    color: white;
    background-image: url(../images/egypt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}